.success{
    transition: all .3s ease-in-out;
    margin: auto;
    text-align: center;
    padding: 30px 10px;
    font-size: 1.2em;
    font-weight: 500;

    .info{
        padding: 10px 2px;
        font-size: 0.7em;
        font-weight: lighter;
    }
    
      
}
@media only screen and (max-width :600px){



}