
.navbar {
 
  color: white;
  background-color: #2563eb;
  
  

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;

    }

    
    .center {
      font-size: 30px;
      letter-spacing: 2px;
     
        img{
          height:  90%;
          color: white;
        }
      
    }
    .right {
      display: flex;
      align-items: center;
      

      .icons {
        display: flex;
        gap: 15px;
        color: white;
        padding-left: 5px;
        cursor: pointer;

        .cartIcon {
          position: relative;
          
          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #60a5fa;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}


@media only screen and (max-width :600px){

  .navbar{
    height: 10vh;
    max-width: 100%;

    .wrapper{
      align-items: center;
      padding: 25px;
      
      .item{
        font-size: small;
      
      }
      .center{
        font-size: large;
        align-self: center;
      }
     

    }
  }

 
}